.todoTable{
    border: 1px solid black;
}

.todoTable th, td{
    border: 1px solid black;
    padding: 15px;
}

.todoTable .newTodo td {
    padding:5px;
}

.todoTable .newTodo td textarea {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    white-space: initial;
    overflow: hidden;
    resize:none;
}